*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Ko'p ishlatiladigan class lar */

.container{
    width: 70%;
    margin: auto;
}

.text-color{
    color: white;
}

.btn{
    padding: 15px 70px;
}

.btn-primary{
    border: 3px solid #3f8fff;
    background: #fff;
    color: black;
}

.btn-primary:hover{
    background: #3f8fff;
    color: white;
}

.services-heading{
    text-align: center;
    padding: 60px;
}

.text-primary{
    color: #3f8fff;
}

.head{
    font-size: 50px;
}

.lead{
    color: #777;
}




/* Navbar */

.navbar{
    background: #f4ffff;
    overflow: auto;
    padding: 10px;
}

.logo{
    float: left;
    font-size: 36px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3f8fff;
}

.nav{
    float: right;
}

.nav li{
    float: left;
    padding: 10px 15px;
}

.nav li a{
    font-size: 18px;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.showcase{
    background: url(../img/img/home-banner-bg.png) center / cover;
    /* Yangilik Y o'qi bo'yicha to'xtatish */
    overflow-y: hidden;
    height: 500px;
}

.showcase-text{
    float: left;
    width: 40%;
    position: relative;
    left: 100px;
    
}

.showcase-img{
    float: right;
    width: 50%;
    
}

.showcase-img img{
    max-width: 100%;
}

.showcase-heading{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.showcase-text p{
    color: #999;
    font-size: 18px;
    margin: 40px 0;
}

.services{
    padding: 50px 0;
}

.services-heading{
    text-align: center;
    padding: 60px;
}

.box{
    float: left;
    width: 33%;
    padding: 20px 20px;
    
}

.clr{
    clear: both;
}


/* portfolio */

.portfolio{
    padding: 60px 10px;
    padding-left: 30px;
}

.portfolio-text{
    float: left;
    width: 45%;
}

.portfolio-img{
    float: left;
    width: 25%;
}

.portfolio-img img{
    width: 300px;
}

.portfolio-text .container .btn{
    margin: 0;
    float: left;
}

/* Team */

.team{
    padding: 60px 0;
    overflow: auto;
}

.team-img{
    background: url('../img/img/team1.jpg') no-repeat center / cover;
    float: left;
    width: 40%;
    height: 500px;
    position: relative;
    padding: 30px 40px;
    left: 50px;
}
.team-text{
    float: right;
    width: 50%;
}

.bg-white{
    background: #fff;
    position: absolute;
    bottom: 40px;
    padding: 30px;
}

.team-text .container .btn{
    margin: 0;
    float: left;
}



/* Knowladge */

.knowladge-box{
    width: 100%;
    height: 600px;
    position: relative;
    
}

.knowladge{
    width: 100%;
    height: 420px;    
    background: linear-gradient(90deg,#4A9EF9,#84F2F9);
    overflow: auto;
    margin-top: 30px;
}

.knowladge .container{
    margin-top: 150px;
    width: 70%;

}

.knowladge .container h1{
    font-size: 40px;
}

.knowladge .container .btn-white{
    width: 200px;
    padding: 20px 15px;
    background: white;
    color: black;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 11px;

}

.knowladge img{
position: absolute;
bottom: 130px;
right: 0px;
}

/* Latest */

.latest{
    margin-top: 160px;
}

.latest .container h1{
    font-size: 60px;
}

.latest .container p{
    color: #666;
    font-family: sans-serif;
}

.container .text-box{
    width: 50%;
    float: left;
}
.container .btn-primary{
    float: right;
    padding: 15px 40px;
    margin-top: 120px;
    font-family: sans-serif;
}

.clr{
    clear: both;
}

/* Posts */

.posts{
    width: 100%;
    margin-top: 50px;
    height: 500px;
    overflow: auto;
    
}

.post{
    width: 31%;
    border: solid 0.1px #ddd;
    padding-bottom: 50px;
    float: left;
    margin-right: 22px;
}
.post .container{
    width: 85%;
}

.text-grey{
    color: #999;
}

/* Footer */

.footer{
    margin-top: 500px ;
    background: #1E1C27;
    padding: 80px;
    overflow: auto;
}

.footer .container{
     margin-top: 80px;
    
}

.footer-box{
    width: 24%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 1.0px;
}

.img-list-1 li, .img-list-2 li{
    float: left;
    padding: 4px;
} 

.footer-icon{
    margin-top: 20px;
    
}
.footer-icon a{
    color: #777;
    margin-top: 20px;
    padding: 20px;
}

.footer-icon a i{
    color: #777;
    /* font-size: 50px; */
}


.footer-icon a .fa-youtube{
    color: red;
    
}

.navigation{
    width: 200px;
    height: 50px;
}

.navigation li{
    float: left;
    padding-right: 25px;
    padding-bottom: 20px;

}

.footer-nav li a{
    font-size: 18px;
    color: #777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Members{
    float: left;
}


.footer-box input{
    background: #272735;
    padding: 10px 15px;
    border: white solid 1px;
    color: white;
    
}

.copyright .container{
    margin-top: 100px;
}



.instafeed{
    width: 25%;
}

/* Contact */

.contact-showcase{
    background: url(../img/img/common-banner.png) no-repeat center/cover;
    height: 400px;

}

.contact-text{
    position: relative;
    top: 150px;
    margin-left: 100px;
}

/* Map */
.map{
    padding: 40px 0;
}

/* Contact form */

.contact-form{
    padding: 50px;
}

.contact-address{
    float: left;
    width: 30%;
}

.contact-address li{
    padding: 20px;
    
}

.contact-address li i{
    margin-right: 5px;
    color: #3f8fff;

}

.contact-input{
    float: left;
    width: 35%;
}
.contact-input input{
    display: block;
    margin: 15px 0;
    padding: 10px;
    width: 80%;
}

.contact-submit{
    float: left;
    width: 35%;
}

.contact-submit textarea{
    padding: 20px;
}

.contact-submit a{
    position: relative;
    left: 100px;
}

/* About Us */
.about-services h1{
    margin-top: 100px;
    text-align: center;
    color: #3f8fff;
}

.saytlar{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.conti{
    width: 17rem;
    padding: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}
.sayt{
    margin: auto;
    width: 30%;
    border: #aaa solid 1px;
    box-shadow: 5px 2px 3px #aaa;
    height: 22rem;

}

.sayt .img{
    width : 100%;
    height: 120px;
    border: #aaa solid 1px;
}

.sayt .img1{
    background: url(../Craft.jpg)no-repeat center / cover;
}

.sayt .img2{
    
    background: url(../Uzbekkids.jpg)no-repeat center / cover;
    
}

.sayt .img3{
    
    background: url(../Egypt.jpg)no-repeat center / cover;
    
}

.sayt .conti{
    color: #444;
    font-weight: 500;
    line-height: 22px;
    text-align: center;   
    
}

.sayt .conti h2{
    width: 100%;
    text-align: center;
}

.sayt .conti h2{
    color: #000;

}